# This is a sample .env to be placed in the app directory (local environment)
# or in /opt/gronska/growoffmodule/app/ (on device, for use by Docker container)

# Virtual hardware
MOCK_HW_ENABLED=1
DATA_DIR_PATH="./var"


